<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="url-shortener-response text-center text-danger" id="url-shortener-error">
        <p>There was an issue creating your link, please make sure you have entered a valid URL to shorten.</p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
