<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="url-shortener-response text-center text-success" id="url-shortener-success">
        <p>Congratulations! Your shortened url is <span id='shortened-url'></span></p><button id="copy-btn">Copy</button>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
